* {
    margin: 0px;
    padding: 0px;
}

/* upper nav styles */
#navbar {
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0px;
}

/* upper nav styles */
#uppernav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f9fa;
}

#uppernav>img {
    width: 150px;
    height: 40px;
}

#uppernav>div,
#uppernav>div>div {
    display: flex;
    align-items: center;
}

#uppernav input {
    width: 490px;
    height: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: transparent;
}

#topsearch {
    width: 109px;
    height: 40px;
    background-color: #212529;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uppernav>div:nth-child(4)>img {
    width: 20px;
    height: 70%;
    padding: 5px;
}

/* Bottom nav styles */
#bottomnav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;

}

#bottomnav>div:first-child {
    margin-left: 25px;

}

#bottomnav>div {
    padding: 0px 16px;
    font-family: Poppins;
    display: flex;
    align-items: center;
    color: #6c757d;
}

#bottomnav>div>p:hover {
    font-size: 20px;
}

/* EMPTY CART STYLES */
#empty-cart {
    width: 100%;
    height: auto;
    display: flex;
    background-color:
        #f5f5f5;
    flex-direction: column;
    padding-bottom: 50px;
}

#empty-cart>div:first-child {
    padding: 4px;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 15px;
}

/* EMPTY CART STYLES */

/* SYMBOL */
#symbol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#symbol>img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

#symbol>p {
    width: 250px;
    text-align: center;

    color: #6c757d;
    font-size: 16px;
    font-family: Quicksand;
}

#symbol>div {
    margin-top: 14px;
    padding: 10px 48px;
    background-color: #fc2779;
    color: white;
    border-radius: 4px;
}

/* SYMBOL */

/* CARTOPEN STYLES */
#cartopen {
    width: 96%;
    height: auto;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    display: none;
    justify-content: space-around;

}

#cartopen>div {
    width: 46%;
    height: 100%;
    padding-bottom: 40px;
    border-radius: 10px;
    /* border: 1px solid red; */
}

.cart-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    color: #725955;
    font-size: 20px;
}

.cart-top>div:first-child {
    display: flex;
    align-items: center;

}

.cart-top>div:first-child>img {
    width: 22px;
    height: 20px;
    margin-right: 12px;
}

#cart-total {
    margin-right: 15px;
}

#items {
    width: 100%;
    height: auto;
    margin-top: 6px;
    background-color: #e6e5e5;
    border-radius: 4px;
}

#items>div {
    width: 100%;
    height: 100px;
    display: flex;
}

#items>div>div:first-child {
    width: 65%;
    height: 100%;
    display: flex;

    align-items: center;

}

#items>div>div:first-child>img {
    width: 53px;
    height: 73px;
    margin-left: 10px;
    margin-right: 15px;
}

#items>div>div:last-child>div {
    width: 200px;
    height: 30px;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(top #ff5e57, #00d8d6);
    margin-top: 55px;
    margin-left: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#subtotal {
    background-color: #e6e5e5;
    height: 350px;
    border-radius: 6px;
}

#subtotal>div:first-child {
    width: 100%;
    height: 39px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 16px 15px
}

#subtotal>div:first-child>img {
    width: 26px;
    height: 26px;
    margin-right: 10px
}

#subtotal>div:first-child>input {
    margin-left: 18px;
    height: 28px;
    border-radius: 6px
}

#subtotal>div:first-child>div {
    padding: 10px 20px;
    background-color: #ece4db;
    border-radius: 6px;
}

#subtotal>div:nth-child(2) {
    display: flex;
}

#subtotal>div:nth-child(2)>img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 10px;
}

#subtotal_detail {
    width: 86%;
    padding: 4%;
    height: 100px;
    font-size: 12px;
    margin: auto;
    margin-top: 12px;
    border-radius: 6px;
    background-color: white;
}

#subtotal_detail>div {
    display: flex
}

#subtotal_detail>div>div:first-child {
    padding: 2px 0px;
    width: 40%;
    display: flex;
}

#continue {
    width: 96%;
    margin: 10px auto;
    height: 35px;
    display: flex;
    align-items: center;

}

#continue>div:first-child {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 25px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid black;
}

#continue>div:last-child {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 100%;
    background-color: black;
    color: white;
    padding: 0px 50px
}

/* CARTOPEN STYLES */
.bottom {
    padding: 20px;
    background-color: black;
    color: white;
}

img:hover {
    cursor: pointer;
}

#sugar-foot-logo {
    width: 8%;
    display: block;
    margin: auto;
}

#social-logo {
    margin: auto;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

#social-logo>img {
    width: 20px;
    height: 20px;
}

#social-logo+p {
    text-transform: uppercase;
    font-size: 15px;
}

#box1 {
    display: flex;
    width: 100%;
}

#box1>div {
    width: 50%;
}

#box11>p {
    margin-bottom: 20px;
}

#box11>input {
    border: none;
    background-color: black;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid white;
}

#box11>input:focus {
    outline: none;
}

#box11>button {
    padding: 15px 20px;
    background-color: #fc2779;
    border: none;
    border-radius: 5px;
}

#box12>p {
    margin-bottom: 20px;
}

#box121 {
    display: flex;
}

#box1211 {
    width: 30%;
    color: gray;
}

#box1212 img {
    width: 40%;
    height: 35px;
}

.para20 {
    margin: 30px auto 30px 0px;
}

#box2 {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

#box2 a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

#box2 a:hover {
    text-decoration: underline;
}

#getintouch {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
}

#getintouch a {
    text-decoration: none;
    color: gray;
}

#getintouch a:hover {
    text-decoration: underline;
}

#span {
    text-transform: uppercase;
}

#getintouch p {
    font-size: 20px;
    margin-top: -5px;
}

#getintouch #lastpara {
    font-size: 12px;
    color: gray;
}

/* Bottom part */


body {
    position: relative;
}

#login {
    width: 50%;
    background-color: pink;
    padding: 15px;
    margin-left: 50%;
    position: fixed;
    top: 0%;
    height: 100vh;
}

.login {
    visibility: hidden;
}

.login-open {
    visibility: visible;
}

#login>button {
    width: 20px;
    font-size: 20px;
    background-color: pink;
    border: none;
    color: white;
}

#login>h2 {
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 20px;
}

#login-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 90%;
    padding: 20px;
}

#login-box>div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
}

#login-box>div>img {
    width: 40px;
}

#login-box>div>p {
    font-size: 30px;
}

#login-box>div>input {
    width: 60%;
    border: none;
    border-bottom: 2px solid pink;
    margin-right: 20px;
    font-size: 30px;
}

#login-box>div>button {
    padding: 0px 10px;
}

#login-box>div+p {
    color: red;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 30px;
}

#otp {
    width: 5%;
    border: none;
    border-bottom: 2px solid pink;
}

#login-box>#login-box3 {
    width: 60%;
}

#login-box>#login-box3>button {
    padding: 10px 15px;
}

#lastpara {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}